* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.modal {
    border: 1px solid black;
    border-radius: 10px;
    padding: 50px;
}

.close_btn:focus {
    border: 1px solid red;
}
.confirm_btn:focus {
    border: 1px solid red;
}
.deny_btn:focus {
    border: 1px solid red;
}

.hide {
    display: none;
}